.SendMessage {
  height: 80px;
  margin-top: -80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MessageForSend {
  margin-left: 29.5%;
  width: 60%;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.SendingImage:hover {
  transition: 5ms ease-in-out;
  transform: scale(1.4);
}
