.Messages {
  box-sizing: border-box;
  min-height: 100%;
  width: 95%;
  padding-bottom: 90px;
}
.YourMessages {
  padding: 10px;
  display: flex;
  align-items: center;

  width: auto;
}
.YourMessages > button {
  display: inline;
}

.OtherMessages {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

span {
  font-size: 9px;
  display: block;
  color: lightgray;
}

.text {
  margin: 0px 0px 0px 0px;
}
.Messages {
  overflow-y: scroll;
}
.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3 {
  margin: 0px;
}
.MessageBox {
  color: black;
  padding: 5px;
  margin-top: 20px;
  border-radius: 10px 10px 10px 0px;
}

.UserNameAndDelete {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.asdf {
  position: absolute;
  color: black;
  bottom: 40%;
}
.asdff {
  position: absolute;
  color: black;
  bottom: 35%;
}
.sendAudioMessage:hover {
  cursor: pointer;
}
.sendAudioMessage {
  position: absolute;
  background: none;
  border: 0px;
  bottom: 7.6%;
  right: 28%;
}
.Recording {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background-color: white;
  bottom: 7%;
  left: 32%;
  width: 32%;
}
.Emoji {
  margin-top: 27px;
}
.MovedEmoji {
  position: absolute;
  left: 10%;
  bottom: 1%;
}
.MessageForSend {
  margin-left: 31.5%;
  width: 60%;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.SendingImage:hover {
  transition: 5ms ease-in-out;
  transform: scale(1.4);
}

label:hover {
  cursor: pointer;
}
.delImg {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.22s;
}
.SendingMessage:hover .delImg {
  opacity: 1;
}
.ImgMessageBox {
  display: flex;
  justify-content: space-between;
}
