.Messages {
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  padding-bottom: 90px;
  overflow-y: scroll;
}
.YourMessage {
  padding: 5px;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 65px;
  background-color: blue;
  margin-bottom: 20px;
  width: fit-content;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  color: white;
}

.OtherMessage {
  position: relative;
  padding: 5px;
  display: flex;
  margin-right: 65px;
  justify-content: flex-end;
  background-color: blue;
  margin-bottom: 20px;
  width: fit-content;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  color: white;
}

span {
  font-size: 9px;
  display: block;
  color: lightgray;
}

.text {
  margin: 0px 0px 0px 0px;
}
.avatar {
  position: absolute;
  left: -23%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3 {
  margin: 0px;
}
.MessageBox {
  padding: 5px;
  border-radius: 10px 10px 10px 0px;
}

.UserNameAndDelete {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.asdff {
  position: absolute;

  bottom: 35%;
}
.sendAudioMessage:hover {
  cursor: pointer;
}
.sendAudioMessage {
  position: absolute;
  background: none;
  border: 0px;
  bottom: 7.6%;
  right: 28%;
}
.Recording {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background-color: white;
  bottom: 7%;
  left: 32%;
  width: 32%;
}
.Emoji {
  margin-top: 27px;
}
.MovedEmoji {
  position: absolute;
  left: 10%;
  bottom: 1%;
}

label:hover {
  cursor: pointer;
}
.delImg {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.22s;
}

.ImgMessageBox {
  display: flex;
  justify-content: space-between;
}
.singledImg {
  background: none;
}
.singledImg > img {
  width: 200px;
}
