.Profile {
  display: flex;
  width: 100%;
  height: 90vh;
  background: #e2e8f0;
  justify-content: space-around;
}
.LeftSide {
  width: 25%;
  margin: 0px 20px 0px 20px;
  height: 82.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.Avatar {
  transform: scaleX(1.15);
  transform: scaleY(1.25);
  border-radius: 5px;
  background: #ffffff;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h5 {
  font-weight: 800;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #6c75a7;
  font-size: 18px;
  color: #6c75a7;
}
.Links {
  border-radius: 5px;
  background: #ffffff;
}
.ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
li {
  margin: 5px;
}
.EditProfileRightSide {
  width: 65%;
  height: 80%;
  border-radius: 5px;
  margin-top: 15px;
  background: #ffffff;
}
.EditProfileUserInfo {
  margin-top: 20px;
  display: flex;
}
.EditProfileDatas {
  width: 30%;

  margin-left: 30px;
}
.EditProfileDatas > p {
  padding: 10px;
  color: black;
  border-bottom: 1px solid black;
  text-align: left;
  margin: 10px 0px 20px 0px;
}

.EditProfileParsedDatas {
  width: 66%;
}
.Edit {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30%;
  margin-left: 35px;
}
.ChangeAvatar {
  z-index: 20;
  top: 9%;
  left: 6%;
  opacity: 0;
}
.ChangeAvatar:hover {
  cursor: pointer;
}

.Avatar:hover.EditProfileSvgBox {
  opacity: 1;
  cursor: pointer;
}
.FullName {
  font-weight: 800;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.EditProfileSvg {
  border-radius: 150px;
  background: none;
}
.EditProfileSvgBox {
  position: absolute;
  width: 245px;
  top: 21%;
  left: 25.5%;
  height: 305px;
  transform: scale(0.96);
  border-radius: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.8);
  opacity: 0;
}
.EditProfileSvgBox:hover {
  opacity: 0.5;
}
