.Chat {
  width: 99.9%;
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
}
.Title {
  width: 100%;
  text-align: center;
}

h3 {
  margin: 0px;
}

.sendAudioMessage:hover {
  cursor: pointer;
}
.sendAudioMessage {
  position: absolute;
  background: none;
  border: 0px;
  bottom: 7.6%;
  right: 28%;
}
.Recording {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background-color: white;
  bottom: 7%;
  left: 32%;
  width: 32%;
}
.Emoji {
  margin-top: 27px;
}
.MovedEmoji {
  position: absolute;
  left: 10%;
  bottom: 1%;
}

label:hover {
  cursor: pointer;
}
.delImg {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.22s;
}
.SendingMessage:hover .delImg {
  opacity: 1;
}
.ImgMessageBox {
  display: flex;
  justify-content: space-between;
}
