.LeftSide {
  width: 25%;
  margin: 16px 20px 0px 20px;
  display: flex;
  height: 82.5%;
  flex-direction: column;
  justify-content: space-evenly;
}

h5,
p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #6c75a7;
}
h5 {
  font-weight: 800;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Links {
  margin-top: 20px;
  border-radius: 5px;
  background: #ffffff;
}
.ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
li {
  margin: 5px;
}

.Edit {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30%;
  margin-left: 35px;
}
